<button>Button</button>

<style>
  @import url('https://resources.madebyosama.com/fonts/circular-std/style.css');

  button {
    cursor: pointer;
    color: #333333;
    background-color: #ffdd00;
    border: none;
    border-radius: 6px;
    padding: 16px 32px;
    font-family: 'Circular Std';
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transition: 0.3s;
  }

  button:hover {
    color: white;
    background-color: #333333;
  }
</style>
