<div class="featured">
  <div>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/uploadedbyosama.appspot.com/o/featured-section-icon.png?alt=media&token=bac81528-6e77-4499-99fa-8197472d0a86"
      class="icon"
    />
  </div>
  <div class="title">Prebuilt Components</div>
  <div class="description">
    Of “high performing” level are led by a certified project manager
  </div>
</div>

<style>
  @import url('https://resources.madebyosama.com/fonts/circular-std/style.css');

  .featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon {
    padding: 16px;
    width: 64px;
  }

  .title {
    color: #000000;
    text-align: center;
    font-size: 24px;
    font-family: 'Circular Std';
    font-weight: 500;
    padding-bottom: 14px;
  }

  .description {
    color: #3c3c3c;
    text-align: center;
    font-size: 16px;
    font-family: 'Circular Std';
    font-weight: 400;
    width: 250px;
  }
</style>
