<div class="testimonial">
  <div class="testimonail-stars">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/uploadedbyosama.appspot.com/o/star.svg?alt=media&token=868f1e86-b732-47a1-9ffb-b4cb4675569a"
      alt="star-icon"
      class="testimonial-star"
    />
    <img
      src="https://firebasestorage.googleapis.com/v0/b/uploadedbyosama.appspot.com/o/star.svg?alt=media&token=868f1e86-b732-47a1-9ffb-b4cb4675569a"
      alt="star-icon"
      class="testimonial-star"
    />
    <img
      src="https://firebasestorage.googleapis.com/v0/b/uploadedbyosama.appspot.com/o/star.svg?alt=media&token=868f1e86-b732-47a1-9ffb-b4cb4675569a"
      alt="star-icon"
      class="testimonial-star"
    />
    <img
      src="https://firebasestorage.googleapis.com/v0/b/uploadedbyosama.appspot.com/o/star.svg?alt=media&token=868f1e86-b732-47a1-9ffb-b4cb4675569a"
      alt="star-icon"
      class="testimonial-star"
    />
    <img
      src="https://firebasestorage.googleapis.com/v0/b/uploadedbyosama.appspot.com/o/star.svg?alt=media&token=868f1e86-b732-47a1-9ffb-b4cb4675569a"
      alt="star-icon"
      class="testimonial-star"
    />
  </div>
  <div class="testimonial-text">
    This is a dummy testimonial from a dummy client, replace it with the real
    one
  </div>
  <div class="testimonial-author">
    <div class="testimonial-author-photo">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/uploadedbyosama.appspot.com/o/testimonial-author-photo.png?alt=media&token=5f7cabcc-f062-4a08-b5a0-793a9a39d992"
        alt="star-icon"
        id="testimonial-author-photo"
        width="48px"
      />
    </div>
    <div class="testimonial-author-details">
      <div class="testimonial-author-name">John Smith</div>
      <div class="testimonial-author-description">Client from 🇺🇸</div>
    </div>
  </div>
</div>

<style>
  @import url('https://resources.madebyosama.com/fonts/circular-std/style.css');

  .testimonial {
    max-width: 200px;
    font-family: 'Circular Std';
  }
  .testimonail-stars {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 16px;
  }
  .testimonial-star {
    max-width: 16px;
    max-height: 16px;
    padding-right: 4px;
  }
  .testimonial-text {
    color: #68696a;
    padding-bottom: 20px;
    line-height: 120%;
    font-weight: normal;
  }
  .testimonial-author-photo {
    padding-right: 16px;
  }
  .testimonial-author {
    display: flex;
  }
  .testimonial-author-name {
    font-weight: bold;
    padding-bottom: 4px;
  }
  .testimonial-author-description {
    color: #68696a;
    font-weight: normal;
    font-size: 14px;
  }
</style>
